<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Ink&display=swap" rel="stylesheet">
{#    <script src="https://kit.fontawesome.com/97f8908adf.js" crossorigin="anonymous"></script>#}
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>