<footer>
    <section id="p7">
        <p>
        <h2>
            <dt><i class="fa-solid fa-user"></i> Мої якості:</dt>
        </h2>
        <dd>
            <h3>
                <ul>
                    <li>Вуселий</li>
                    <li>Активний</li>
                    <li>Пунктуальний</li>
                    <li>Чесний</li>
                    <li>Цілеспрямований</li>
                    <li>Довожу діло до кінця</li>
                </ul>
            </h3>
        </dd>
        </p>
    </section>
    <section id="p8">
        <p>
        <h2>
            <dt><i class="fa-sharp fa-solid fa-bicycle"></i> Хоббі:</dt>
        </h2>
        <dd>
            <h3>
                <ul>
                    <li>Люблю кататися на велосипеді</li>
                    <li>Грати в настільній теніс </li>
                </ul>
            </h3>
        </dd>
        </p>
    </section>
</footer>